.contain_title_table {
  padding: 10px 0px;
  font-weight: bold;
}
.row_content {
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 10px 0px;;
}
.col_icon {
  margin: auto;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.col_title {
  margin: auto;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.contain_action {
  display: flex;
  justify-content: space-around;
}
.hightlight_row {
  background-color: rgb(227, 242, 253);
}
.kitin-save {
  font-size: 20px;
  color: #CACEBD;
  cursor: pointer;
  z-index: 9;
}
.kitin-save:hover {
  color: #ffb400;
}
.kitin-delete {
  font-size: 20px;
  color: #CACEBD;
  cursor: pointer;
  z-index: 9;
}
.kitin-delete:hover{
  color: red;
}