.tdx2{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}
.ex2{
	width: 150px;
}
.ta-r{
	text-align: right;
}
.rdw-editor-wrapper{
	border: 1px solid #dddddd;
}
.rdw-editor-toolbar{
	border:none;
}
.nav-tabs{
	border-bottom: none;
}
.nav-tabs .nav-item{
	margin-bottom: 0!important;
}
.nav-tabs .nav-link{
	border-radius: 0!important;
	border:none!important;
	border-bottom: 2px solid #ffffff!important;
	color: #000000!important;
}
.nav-tabs .nav-link.active{
	border-bottom: 2px solid #037bff!important;
    color: #037bff!important;
}
.cs-body{
	    padding-top: 5px!important;
}
.nav-tabs{
	border-bottom: none!important;
}
.rdw-editor-main{
	border-top: 1px solid #dddddd;
	min-height: 200px;
}
.editor-heading-md{
	display: flex;
	width: 100%;
}
.editor-heading-md .form-control.editorsx{
	width: 100%;
}
.editor-heading-md .custom-control.custom-toggle.custom-toggle-sm{
	width: 162px;
    margin-left: 100px;
    margin-top: 3px;
}
.lg-editor{
	border-radius: 0!important;
	height: 229px!important;
}
.ta-right{
	text-align: right;
}
.footer-language{
	padding: 20px;
    padding-top: 0px;
}
.mtl-5{
	margin-left: 5px;
}
.footer-language .btn-gr{
	text-align: right;
}
.react-confirm-alert-body > h1{
	font-size: 21px;
    margin-top: 0;
}
.allowRowEventsStatus{
	display: flex;
}
.allowRowEventsStatus i{
	 color: #28a745;
}
.type-debug{
	margin-left: 10px;
}
.allowRowEventsType{
	display: flex;
}
.allowRowEventsType i{
	 color: #e6e6e6;
}



