<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" class="next-head">
    <title class="next-head">HDI - Open API</title>
    <meta name="viewport" content="user-scalable=no, width=device-width" class="next-head">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/png" href="./public/favicon.png"/>

    

</head>

<body cz-shortcut-listen="true">
    <div id="__next">
        <div data-reactroot="">
            <nav class="navbar navbar-expand-lg navbar-light-hdi bg-light-hdi">
                <a class="navbar-brand" href="#"><img src="/public/img/logo-hdi.svg" alt="HDI">
                </a>
                <div class="title-header"></div>
                <div class="title-header-mobile"></div>
                <button class="navbar-toggler" id="btn-tggle-menu" type="button"><span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="title-header-placholder"></div>
                    <div class="header-r-menu my-2 my-lg-0">
                        <div role="group" class="btn-dropdown-lang dropdown btn-group">
                            <button  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-primary"><span style="padding-right:5px"><i class="fas fa-globe-asia"></i>Tiếng Việt</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							  <button class="drop-item-mn dropdown-item active"><img src="/public/img/vi-flag.svg"><div class="text">Tiếng Việt</div>  <i class="fas fa-check-circle"></i></button>
							  <div class="dropdown-divider" role="separator"></div>
							  <button class="drop-item-mn dropdown-item"><img src="/public/img/en-flag.svg"><div class="text">Tiếng Anh</div>   </button>
							  </div>

                        </div>

                        <div role="group" class="btn-dropdown-lang dropdown btn-group">
                            <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-primary"><span style="padding-right:5px"><i class="far fa-question-circle"></i>Trợ giúp</span>
                            </button>
                             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							   <a href="#/action-1" class="drop-item-mn dropdown-item"><img src="/public/img/hdsd-ic.svg"><div class="text">Hướng dẫn sử dụng</div> <i class="fas fa-chevron-right"></i></a><div class="dropdown-divider" role="separator"></div>
							   <a href="#/action-2" class="drop-item-mn dropdown-item"><img src="/public/img/dieukhoan-ic.svg"><div class="text">Điều khoản</div> <i class="fas fa-chevron-right"></i></a><div class="dropdown-divider" role="separator"></div>
							   <a href="#/action-3" class="drop-item-mn dropdown-item"><img src="/public/img/lienhe-ic.svg"><div class="text">Liên hệ</div> <i class="fas fa-chevron-right"></i></a>
							  </div>

                        </div>

                    </div>
                </div>
                <div>
                    <div class="bm-overlay" state="close" id="bm-menu" style="position:fixed;z-index:1000;width:100%;height:100%;background:rgba(0, 0, 0, 0.3);opacity:0;-moz-transform:translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0);-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);transition:opacity 0.3s, transform 0s 0.3s"></div>
                    <div id="" class="bm-menu-wrap" style="position:fixed;right:0;z-index:1100;width:280px;height:100%;-moz-transform:translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0);-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);transition:all 0.5s">



                        <div class="bm-menu" style="height:100%;box-sizing:border-box;overflow:auto">
                            <nav class="bm-item-list" style="height:100%">
                                <div class="bm-item lg-mobile" style="display:block" tabindex="-1">
                                    <div role="group" class="btn-dropdown-lang dropdown btn-group">
                                        <button aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-primary"><span style="padding-right:5px"><i class="fas fa-globe-asia"></i>Tiếng Việt</span>
                                        </button>
                                    </div>
                                    <div class="btn-close-menu"><i class="fas fa-times"></i>
                                    </div>
                                </div>
                                <a id="home" class="bm-item menu-item" href="/" style="display:block" tabindex="-1"><img src="./public/img/hdsd-ic.svg">Hướng dẫn sử dụng</a>
                                <a id="about" class="bm-item menu-item" href="/" style="display:block" tabindex="-1"><img src="./public/img/dieukhoan-ic.svg">Điều khoản</a>
                                <a id="contact" class="bm-item menu-item" href="/" style="display:block" tabindex="-1"><img src="./public/img/lienhe-ic.svg">Liên hệ</a>
                            </nav>
                        </div>




                    </div>
                </div>
            </nav>
            <div>
                <div class="pg-container">


                	<!--Banner start block-->
                    <div class="bnn">
                    	<div class="img-bg-xbg bnn1">
	                    	<div class="bnn-content">
	                    		<h1>Chào mừng đến với Bảo hiểm HD</h1>
	                    		<p>Trải nghiệm muôn vàn tiện ích với các gói bảo hiểm dành cho bạn</p>
	                    		<button>Khám phá ngay <i class="fas fa-chevron-right"></i></button>
	                    	</div>
                    	</div>
                    </div>
                    <!--Banner end block-->




                    <div class="sv-content">
                    	<div class="partice-bg"></div>
                    	<div class="container">
                    	<div class="row">
                    		<div class="col-md-4">
                    			<div class="sv-item">
                    				<div class="t-thumb">
                    					<img src="./public/img/v0.png" />
                    				</div>
                    				<h5>Liên hệ hỗ trợ</h5>
                    				<p>Hãy gọi theo số điện thoại <span class="text-green bbold">1900 068 898</span> để được hỗ trợ 1 cách chu đáo và nhiệt tình từ đội ngũ CSKH của Bảo hiểm HD</p>
                    				<a class="green-btn-dx" href="#">
                    					<i class="fas fa-phone"></i> Liên hệ
                    				</a>
                    			</div>
                    		</div>
                    		<div class="col-md-4">
                    			<div class="sv-item">
                    				<div class="t-thumb">
                    					<img src="./public/img/v1.png" />
                    				</div>
                    				<h5>Để lại lời nhắn</h5>
                    				<p>Gửi lại lời nhắn cho chúng tôi thông qua mail <span class="text-green bbold">product@hdinsurance.com</span> . Chúng tôi sẽ trả lời lại sớm nhất cho bạn</p>
                    				<a class="green-btn-dx" href="#">
                    					<i class="fas fa-envelope"></i> Gửi mail
                    				</a>
                    			</div>
                    		</div>
                    		<div class="col-md-4">
                    			<div class="sv-item">
                    				<div class="t-thumb">
                    					<img src="./public/img/v2.png" />
                    				</div>
                    				<h5>Khám phá Bảo Hiểm</h5>
                    				<p>Truy cập vào trang web của Bảo Hiểm HD để khám phá  muôn vàn gói bảo hiểm dành cho bạn</p>
                    				<a class="green-btn-dx" href="#">
                    					<i class="fas fa-globe"></i> Truy cập
                    				</a>
                    			</div>
                    		</div>

                    	</div>
                    </div>
               		</div>
                </div>
                <div class="banner">
                    <div class="child-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6" style="text-align:center"><img data-aos="slide-right" class="app-screenshot" src="./public/img/app-phone-screenshot.png">
                                </div>
                                <div class="col-md-6"><img class="logo-hdi-white" src="./public/img/logo-hdi-white.png">
                                    <h1>Tận hưởng cuộc sống</h1>
                                    <h2>Vững tâm tiến bước với <b>HDLife</b></h2>
                                    <p>Ứng dụng hàng đầu về bảo hiểm phi nhân thọ tại Việt Nam.</p>
                                    <p>Tải App ngay hôm nay để nhận những ưu đãi đặc biệt từ HD Life</p>
                                    <div class="app-download">
                                        <div class="btn-download-group"><img src="/public/img/GooglePlay.png"><img class="mg-20" src="/public/img/AppleStore.png">
                                        </div>
                                        <div class="app-dive-text">Hoặc</div>
                                        <div class="img-download-qr"><img class="qr-app" src="/public/img/websiteQRCode_noFrame.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright © 2020 HDInsurance all rights reserved</p>
                    </div>
                    <div class="col-md-6">
                        <div class="right">
                            <p><i class="fas fa-headphones-alt"></i> Hotline: <a href="#">1900 068 898</a>
                            </p>
                            <p><i class="fas fa-envelope"></i> Email: <a href="#">cskh@hdinsurance.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
</body>
<script src="/public/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/public/main.js"></script>
</html>