<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Andchir">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HTML5 Video Extend</title>
    
    <script src="/flv-player/js/jquery-3.1.1.min.js"></script>
    <script src="/flv-player/js/jquery.video-extend.js"></script>
    
    <style>
        body { box-sizing: border-box; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #F5F5F5; }
        .container { max-width: 900px; padding: 30px; margin: 0 auto; }
        pre.code { border: 1px solid #ddd; width: 100%; margin: 10px 0; padding: 10px; background-color: #eee; overflow: auto; }
    </style>
    
    <script>
        $(document).ready(function(){
            
            $('#video1').videoExtend({
                logo: 'img/example_logo.png',
                logoLink: 'http://wdevblog.net.ru/',
                logoSize: [ 60, 40 ],
                markers: [
                    {
                        time: 39,// seconds
                        text: 'Chapter 1'
                    },
                    {
                        time: 350,
                        text: 'Chapter 2'
                    },
                    {
                        time: 470,
                        text: 'Chapter 3'
                    },
                    {
                        time: 677,
                        text: 'Chapter 4'
                    }
                ]
            });
            
            $('#video2').videoExtend({
                logo: 'img/example_logo.png',
                logoLink: 'http://wdevblog.net.ru/',
                logoSize: [ 60, 40 ],
                logoPosition: [ 'auto', 10, 50, 'auto' ] // top, right, bottom, left
            });
            
            $('video.video-extend').videoExtend({
                logo: 'img/example_logo.png',
                logoLink: 'http://wdevblog.net.ru/',
                logoSize: [ 60, 40 ],
                swfPath: 'swf/video-js.swf',
                textPlay: 'Play movie'
            });
            
        });
    </script>
    
</head>
<body>
    <div class="container">

        
      
        
        <h3>Play FLV video (basic support)</h3>
        
        <video class="video-extend" width="640" height="360" poster="video/Sintel_poster.png" controls>
            <source src="/test.flv" type="video/flv">
        </video>
        
        <pre class="code">&lt;script&gt;
    $(document).ready(function(){
        
        $('video.video-extend').videoExtend({
            logo: 'img/example_logo.png',
            logoLink: 'http://example.com/',
            logoSize: [ 60, 40 ],
            swfPath: 'swf/video-js.swf',
            textPlay: 'Play movie'
        });
        
    });
&lt;/script&gt;
&lt;video class="video-extend" width="640" height="360" poster="video/Sintel_poster.png" controls&gt;
    &lt;source src="video/Sintel.flv" type="video/flv"&gt;
&lt;/video&gt;</pre>
        
    <h3>API</h3>
    
    <pre class="code">&lt;script&gt;
    $('#video1').get(0).play();// Play video
&lt;/script&gt;</pre>
    
    <a href="http://www.w3.org/2010/05/video/mediaevents.html" target="_blank">http://www.w3.org/2010/05/video/mediaevents.html</a>
    
    </div>
</body>
</html>